#map {
	height: 500px;
	width: 80%;  
	margin: auto;
}
#heading {
	text-align: center;
}
#heading2 {
	text-align: left;
	margin:auto;
	width: 80%;
}
#header {
	color: gold;
}
.row {
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 50%;
    
}
.forms {
	margin: auto;
}

.table {
    display:table;
    margin-right: auto;
}
.td {
    display:table-cell;
}
.page_topbar {
	background-color: #800000;
	height: 20%;
	width: 80%;
	top: 0;
	border-style:solid;
	border-color: black;
	margin: auto;
}
.headergradient {
	background: linear-gradient(to top, rgba(138,7,7,0), rgba(138, 7, 7,1));
}
.menuitem {
	color: white;
	width: 200px;
	text-align: center;
	display:inline-block;
}
.menus {
	width: 200px;
	border-style: solid;
	border-color: #8A0707;
}
.menubar{
	background: #8A0707;	
}

html {
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: linear-gradient(to bottom, black, #8A0707)fixed;
	min-width: 825px;
}
body {
	color: white;
}
a{	
	color:white;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:lightblue;
}	
a:active{
	background-color:gray;	
}	
a:visited{
	color:white;	
}
FORM.tr, DIV.tr
{
    display:table-row;
}